@font-face {
  font-family: sf;
  src: url(./sf.ttf);
}

body {
  /* background-color: #e9f3ff; */
  margin: 0;
  font-family: sf, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-image: linear-gradient(to right, #4299e1,#38b2ac); */

  background: #e0eafc;
  /* fallback for old browsers
background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  Chrome 10-25, Safari 5.1-6
background: linear-gradient(to right, #CFDEF3, #E0EAFC); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 

/* background: url('./svg.svg');
background-size: cover;
background-repeat: no-repeat;
background-position: center; */
}

header {
  display: flex;
  justify-content: space-between;
  /* background-color: #e1e9fc */
  ;
  /* border-bottom: 1px solid #eaeaea; */
}

.logo-right {
  display: flex;
  align-items: center;
}

#navLogo {
  cursor: pointer;
}

.title {
  /* font-size: 1.5rem; */
  /* font-weight: bold; */
  /* margin-right: 10rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 30px; */

  /* font-size: 2rem; */
  /* height: 10px; */
  color: #000;
  /* font-family: 'Josefin Sans', sans-serif;  */
}


#title {
  display: contents;
  color: #fc2f00 !important;
  text-shadow: 0px 0px 2px #030301;
}

.logo-left {}

.body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
  /* padding: 10px; */
}

.body-left {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-left: 2rem;
  width: 50vw;
}

.body-right {
  display: flex;
  width: 50vw;
  margin-right: 5rem;
  /* align-items: center; */
  /* justify-content: center; */
  /* height: 100%; */
}

.select {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  /* glassmorphism */
  background-color: #e9f3ff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #eaeaea;
  border: 1px solid #eaeaea;
}

.variables {
  /* margin: 20px 10px; */
}

.dates {
  display: flex;
  align-items: baseline;
}

.date {
  display: flex;
  justify-content: space-between;
}

.input {
  display: flex;
  /* justify-content: space-between; */
}

.from {
  margin-right: 2rem;
}

.btn {
  border-radius: 20px;
}

.process {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 10px; */
}

.button {
  background-color: black;
  border-radius: 30px;
  padding: 0.5rem 0;
  width: 10rem;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  transition: all 0s ease-in-out;
  /* padding: 0.8rem 1rem; */
  /* text-shadow:  0px 0px 10px #fff; */
}

.configuredBtn {
  border-radius: 30px;
  padding: 0.5rem 1rem;
  background: #515052;
  font-size: 0.7rem;
  margin-bottom: 0.8rem;
  color: #fff;
}

.configuredBtn:hover{
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  transition: all 0s ease-in-out; 
  cursor: pointer;
}

.addBtn{
  background-color: #184e77;
}

.modal-body .container{
  width:max-content;
}

.modal-body .container 

.telemetry {
  text-shadow: 0px 0px 3px #e0e0e0;
  display: none;
}

.resTitle {
  font-size: 2rem;
  color: #000;
  font-family: 'Dela Gothic One', cursive;

}

.modal-dialog{
  display: flex;
  justify-content: center;
}

.modal-content{
  min-width: fit-content;
}

input{
  outline: none;
  border:0;
}

input:focus{
  outline: none;
  border: 0;
  border-bottom: 1px solid #000;
}


@media only screen and (max-width: 900px) {
  /* .title {
    display: none;
  } */

  /* .telemetry {
    display: block;
  }  */

  .body {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 100px 0;
    width: 100vw;
  }

  .body-left {
    width: 100vw;
    margin: 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
    /* margin-left: 3rem; */
    /* border: 2px solid #000; */
  }

  .body-right {
    width: 100vw;
    margin: 0;
    padding: 1.5rem;
    /* border: 2px solid #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 3rem; */
    margin-top: 2rem;
  }

  .select {
    width: 100%;
  }

  .dates {
    display: block;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
  }

  .date {
    display: block;
  }

  .from {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .to {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  .input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 !important;
  }

  .graph_container {
    flex-direction: column;
  }

  .graph_left,
  .graph_right {
    margin-bottom: 80px;
  }

}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

a {
  text-decoration: none;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  align-items: center;
  font-size: 1.5rem;
}

.resultPage{
  display: flex;
  margin-right: 0;
  /* padding-right: 0; */
  max-width: -webkit-fill-available;
  min-width: -webkit-fill-available;
}

.graph_container{
  display: flex;
  flex-direction: column;
  /* justify-content:flex-end; */
  align-items: center;
  width: 50vw;
  height: 85vh;
}

.graph{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  width: fit-content;
  height: 100%;
}

.graph_left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.graph_right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.leftgraph{
  display: none;
}

.graph1{
  display: flex;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.graph_info{
  position: absolute;
  bottom: 2px;
  font-size: 12px;
  font-weight: lighter;
}

.indep_info{
  position: absolute;
  bottom: 2px;
}

.dep_info{
  position: absolute;
  bottom: 2px;
}

.map_container{
  width: 40vw;
  margin-right: 2rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

#map{
  height: 85vh;
  /* width: 60vw; */
  margin: 0;
  margin-bottom: 60px;
  border-radius: 15px;

}

.leaflet-control-attribution>svg{
  display:none;
}


.graph{
  position: relative;
}

.plot-container{
  position:relative;
}

.bellIcon{
  position: absolute;
  top: 28px;
  right: 10px;
  /* width: 2rem;
  height: 2rem; */
  /* background-color: #fff; */
  border:none;
  border-radius: 10px;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  /* cursor: pointer; */
  /* color: #000; */
  z-index: 10;
}

.coordinates{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: 'Dela Gothic One', cursive;
}

.main-svg {
  border-radius: 20px;
  /* box-shadow: 0px 0px 2px #184e77; */
}

.main-svg:hover {
  box-shadow: 0px 0px 10px #184e77;
  /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
  transition: 0.05s;
}


ul {
  padding: 0;
}

.sidenavText {
  display: none;
}


.sideContainer a {
  position: absolute;
  /* Position them relative to the browser window */
  left: -10px;
  /* Position them outside of the screen */
  transition: 0.3s;
  /* Add transition on hover */
  padding: 15px;
  /* 15px padding */
  /* width: 100px; Set a specific width */
  text-decoration: none;
  /* Remove underline */
  font-size: 12px;
  /* color: white; White text color */
  border-radius: 0 5px 5px 0;
  /* Rounded corners on the top right and bottom right side */
  /* margin-bottom: 100px; */
  /* margin-top: 100px; */
}

.sideContainer a:hover {
  left: 0;
  /* On mouse-over, make the elements appear as they should */

}

#a1 {
  top: 100px;
}

#a2 {
  top: 150px;
}

#a3 {
  top: 200px;
}

#a4 {
  top: 250px;
}

#a5 {
  top: 300px;
}

#a6 {
  top: 350px;
}

#a7 {
  top: 400px
}

#a8 {
  top: 450px;
}

#a9 {
  top: 500px;
}

#a10 {
  top: 550px
}

.sideContainer a:hover .sidenavText {
  display: block;
  transition: 0.3s;
}

.innerSidenav {
  display: flex;
  justify-content: center;
  align-items: unset;
  background-color: #bde0fe;
  border-radius: 30px;
  padding: 5px 10px;
}





.sidebar_nav {
  /* min-width: 20px;
    max-width: 30px; */
  width: fit-content;
  border-radius: 30px;
  height: 70%;
  background-color: #184e77;
  list-style-type: none;
  position: fixed;
  left: 0;
  top: 8rem;
  margin-left: 1px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sidebar_nav li {
  /* padding: 10px 24px; */
}


.sidebar_nav li a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 10px !important;
  /* font-size: 1.2rem; */

}

.sidebar_nav li a:hover {
  color: #000;
}

/* .sidenavText{
  font: 2px;
} */

#content_container {
  width: 100%;
  height: 100%;
  background-color: #333;
  text-align: center;

}

